@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Montserrat:wght@400;600&family=Righteous&display=swap');

.mouse400{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
}

.mouse600{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600 !important;
}

.flexy{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page{
  width: 100vw;
  min-height: 87vh;
}

.bg-amigos{
  background-color: #242333 !important;
}

.text-amigos{
  color: #242333 !important;
}

.bg-gate{
  background-color: #01B0D3 !important;
}

.text-gate{
  color: #01B0D3 !important;
}

.curve-btn{
  border-radius: 1.5rem !important;
}